html{
    margin: 100px;
    box-shadow: 5px 5px 5px black;
    

}
body{
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
}

section{
    margin:100px ;
    text-align: justify;
}
article p
{
    font-size: 1em;
}

.colonne_gauche ul{
    list-style-type: none;
}
.colonne_droite{
   
 float: right;
   
 }
 .colonne_gauche{

      
 }

 footer{
     float: right;
     
 }